diskcache==5.6.3
fastapi[standard]==0.115.8
fastapi_cognito==2.8.0
numpy==2.2.3
pandas==2.2.3
pydantic==2.10.6
pydantic_settings==2.7.1
pydub==0.25.1
Requests==2.32.3
SpeechRecognition==3.14.1
SQLAlchemy==2.0.36
uvicorn==0.34.0
webdriver_manager==4.0.2
pymysql==1.1.1
selenium==4.28.1